body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

figure{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}
figcaption{
    color: #ccc;
}

form{
    display: grid;
    width: 50%;
    gap: 15px;
}

/* header{
    display: flex;
    justify-content: center;
    align-items: center;
} */

input{
    width: 350px;
}

.perrito-img{
    width: 400px;

}

.form-section{
    display: grid;
    place-items: center;
}
.btn-submit-container{
    margin: 0 auto;
}

.main-nav{
    margin-top:  10px;
    list-style: none;
    padding-left: 0;
    background: red;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    color: aliceblue;
    padding: 5px;
    text-decoration: none;
}

/* Pseudoclases */
.main-nav__item a:hover{
    color: black;
}
.main-nav__item a:active{
    color: green;
}


/* Pseudoelementos */

.main-nav__item a::after{
    content: " | ";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    padding: 20px;
    border: 14px solid gray;
    margin: 0;
}


.padre{
    color: red;
}

.hijo{
    color: inherit;
}


/* h1{
    font-family: serif;
} */

#page-title{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 18px;
    font-family: monospace;
}

/* toda la equita de parrafo que este cerca de un h2 aplica */
/* h2 + p{
    color: red;
} */

/* aplica el estilo a todos los que existen en el mismo nivel */
h2 ~ p{
    color: red;
}

/* hijo directo afecta a los p que son hijos de un div */
div > p {
    color: red;
}
/* hijo descendiente afecta a todos los p que esten dentro del div */
div h3{
    color: green;
}